body{
   color : black; 
   background-color: white;
   font-family: 'Ubuntu', sans-serif;
}

header, footer{
   color : black; 
   background-color: white;
}

a, a:visited {
   text-decoration: none;
   color: black;
}