<div>
	<h1 class="mx-3">Connexion</h1>
	<form method="post" class="container my-5">
		<div class="row text-success">{{msg}}</div>
		<div class="row text-danger">{{error}}</div>
		<div class="row my-1">
			<label for="email" class="col-2">Email</label>
			<input type="text" name="email" class="col-2">
		</div>
		<div class="row my-1">
			<label for="password" class="col-2">Mot de passe</label>
			<input type="password" name="password" class="col-2">
		</div>
		<input type="hidden" name="submitted" value="true">
		<div class="row my-1">
			<input type="submit" value="Envoyer" class="btn btn-primary col-1">
		</div>
		<div class="my-3"><a href="./?action=sign_up">Ou créer un compte</a></div>
	</form>
	<div class="row">
		<button class="btn btn-primary col-1 mx-3">
			<a href="./">Annuler</a>
		</button>
	</div>
</div>
