<<<<<<< Updated upstream
<div class="text-danger">
        {{erreur}}
</div>
<a href='./'>Retour à la page d'accueil</a>.
=======
<div>
	Ceci est une page d'erreur
	{{erreur}}
</div>
>>>>>>> Stashed changes
