<div>
	<h1 class="mx-3">Modification du mot de passe</h1>
	<form method="post" class="container my-5">
		<div class="row text-danger">{{error}}</div>
		<div class="row my-1">
			<label for="password1" class="col-3">Entrez le mot de passe</label>
			<input type="password" name="password1" class="col-2">
		</div>
		<div class="row my-1">
			<label for="password2" class="col-3">Réentrez le mot de passe</label>
			<input type="password" name="password2" class="col-2">
		</div>
		<input type="hidden" name="idUser" value="{{idUser}}">
		<input type="hidden" name="submitted" value="true">
		<div class="row my-1">
			<input type="submit" value="Modifier" class="btn btn-primary col-1">
		</div>
	</form>
	<div class="row">
		<a href="{{cancel}}"><button class="btn btn-primary col-1 mx-3">
			Annuler
		</button></a>
	</div>
</div>
