<div class="container-fluid" style="background-color: gainsboro">
	<div class="row">

		<div class="col">
			<h1>Rechercher un film</h1>
			<span>Saisir un mot du titre</span>

		</div>

	</div>

	<div class="row"><br></div>
	<div class="row">
		<div class="col">

			<form method="post" class="row g-2">
				<div class="col-auto">
					<input type="text" name='titre' class"form-control">
				</div>
				<div class="col-auto">
					<button class="btn btn-secondary" type=" submit">Rechercher</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% if film is defined %}

	<div class="card" style="width: 18rem; margin-top: 10px">
		<img src="{{film.get_affiche}}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{film.get_titre}}({{film.get_annee}})</h5>
			{# {% for  in  %}
			<p>{{}}</p>
			{% endfor %} #}
		</div>
	</div>

{% endif %}
