<div>
	<h1 class="mx-3">Inscription</h1>
	<div class="container my-4">
		<div class="row text-danger">{{error}}</div>
        <form method="post" class="container my-5">
            <div class="row my-1">
                <label for="userName" class="col-3">Nom d'utilisateur</label>
                <input type="text" name="userName" class="col-2">
            </div>
            <div class="row my-1">
                <label for="email" class="col-3">Email</label>
                <input type="text" name="email" class="col-2">
            </div>
            <div class="row my-1">
                <label for="password1" class="col-3">Entrez le mot de passe</label>
                <input type="password" name="password1" class="col-2">
            </div>
            <div class="row my-1">
                <label for="password2" class="col-3">Réentrez le mot de passe</label>
                <input type="password" name="password2" class="col-2">
            </div>
            <div class="row my-1">
                <input type="submit" value="Ajouter" class="btn btn-primary col-1">
            </div>
            <input type="hidden" name="submitted" value="true">
        </form>
</div>
